<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Error - Snow-Adventure</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Lora.css">
    <link rel="stylesheet" href="/css/Open%20Sans.css">
    <link rel="stylesheet" href="/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="/css/Bootstrap-DataTables.css">
    <link rel="stylesheet" href="/css/Data-Table-styles.css">
    <link rel="stylesheet" href="/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
</head>

<body><main class="page contact-page">
    <section class="portfolio-block contact" style="background: #080808;color: rgb(255,255,255);">
        <div class="container">
<body class="bg-purple">
  <div class="stars">
    <div class="central-body">
      <img class="image-404" src="/img/muppers/404.svg" width="300px">
        <a href="/index" class="btn-go-home" target="_blank">RETURN HOME</a>
    </div>
    <div class="objects">
      <img class="object_rocket" src="/img/muppers/rocket.svg" width="40px">
      <div class="earth-moon">
        <img class="object_earth" src="/img/muppers/earth.svg" width="100px">
        <img class="object_moon" src="/img/muppers/moon.svg" width="80px">
      </div>
      <div class="box_astronaut">
        <img class="object_astronaut" src="/img/muppers/astronaut.svg" width="140px">
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
  </div>
</body>
        </div>
    </section>
</main><span class="subheading" style="color: var(--bs-black);margin: 0;">Извините, что-то пошло не так, мы работаем над этим.</span>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/Bootstrap-DataTables-main.js"></script>
    <script src="/js/clean-blog.js"></script>
</body>
</html>