<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Snow-Adventure.ru</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Lora.css">
    <link rel="stylesheet" href="/css/Open%20Sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="/css/Bootstrap-DataTables.css">
    <link rel="stylesheet" href="/css/Data-Table-styles.css">
    <link rel="stylesheet" href="/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/index">Snow-Adventure</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/post">Resorts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin-panel">Only adm</a></li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Sign in</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" sec:authentication="name">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="#">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image: url('/img/about-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading" style="height: 532px;">
                        <h1>О Нас</h1><span class="subheading">вот что мы делаем</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p><span style="color: rgb(69, 69, 69);">Своей инфраструктурой лучшие горнолыжные курорты России способны потягаться с европейскими за топовые места в рейтингах. Большое число трасс разной сложности, новое оборудование и потрясающая природа побуждают туристов со всего мира ежегодно покорять российские склоны. Список самых популярных горнолыжных курортов России</span></p>
                <p><span style="color: rgb(69, 69, 69);">Крупнейшими горнолыжными курортами России считаются комплексы "Роза Хутор" и "Красная Поляна" в </span><span style="color: rgb(51, 51, 51);">Сочи</span><span style="color: rgb(69, 69, 69);">, "Шерегеш" в Кемеровской области, "Большой Вудъявр" в </span><span style="color: rgb(51, 51, 51);">Мурманской области&nbsp;</span><span style="color: rgb(69, 69, 69);">и "Горный воздух" на</span><span style="color: rgb(51, 51, 51);">&nbsp;Сахалине</span><span style="color: rgb(69, 69, 69);">.&nbsp;Самыми живописными многие лыжники называют склоны на </span><span style="color: rgb(51, 51, 51);">Кавказе</span><span style="color: rgb(69, 69, 69);">, в частности, на курортах Приэльбрусья "Эльбрус" и "Чегет".</span></p>
                <p><span style="color: rgb(69, 69, 69);">Сноуборды и </span><span style="color: rgb(51, 51, 51);">лыжи&nbsp;</span><span style="color: rgb(69, 69, 69);">не единственное развлечение в таких комплексах, каждый курорт предлагают свои дополнительные активности. Чаще всего это баня или сауна, крытые бассейны и спортивные залы, детские комнаты и клубы, ледовые катки и горки. Могут покатать и на упряжках хаски или даже оленьих.</span></p>
                <p><span style="color: rgb(69, 69, 69);">Snow-Adventure.ru поможет Вам поближе познакомится с горнолыжными курортам</span></p>
            </div>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="nav-item"><a class="nav-link" href="https://t.me/SnowAdventureBot"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-telegram fa-stack-1x fa-inverse"></i></span></a><li>
                    </ul>
                    <p class="text-muted copyright">Snow-Adventure ©&nbsp;Brand 2023</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/Bootstrap-DataTables-main.js"></script>
    <script src="/js/clean-blog.js"></script>
</body>

</html>