<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Snow-Adventure.ru</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Lora.css">
    <link rel="stylesheet" href="/css/Open%20Sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="/css/Bootstrap-DataTables.css">
    <link rel="stylesheet" href="/css/Data-Table-styles.css">
    <link rel="stylesheet" href="/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/index">Snow-Adventure</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/post">Resorts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin-panel">Only adm</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/login">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image: url('/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Отдых в горах</h1><span class="subheading">в России и за рубежом</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="col-md-10 col-lg-8 mx-auto">
            <p><strong><span style="color: black;">Горнолыжный отдых</span></strong><span style="color: black;"> – это чистейший воздух, захватывающие пейзажи, адреналин и новые&nbsp;знакомства, именно за этим ежегодно отправляется большое количество людей в самые разные уголки мира.</span></p>
            <p><strong><span style="color: black;">Сезоны катания</span></strong><br>Открытие горнолыжного сезона обычно зависит от капризов погоды.<br>Чаще всего канатные дороги и трассы начинают работать в начале декабря, когда слой снега становится достаточно толстым. Например,&nbsp;Красная Поляна открывает свои двери для посетителей в середине декабря, а на&nbsp;Эльбрусе и Шерегеше сезон начинается уже с ноября. Почти на всех курортах сезон заканчивается в середине-конец апреля.</p>
            <h2 class="section-heading"><img class="img-fluid" src="/img/index1.jpg"><span class="text-muted caption">Начало сезона&nbsp;</span></h2>
            <p><strong><span style="color: black;">Лучшие места для активного зимнего отдыха в России</span></strong><br><br>На территории нашей страны расположено около 150 комплексов, многие из них ничуть не уступают европейским по качеству лыжных трасс и инфраструктуре.<br><br>В преддверии горнолыжного сезона любители зимних видов спорта пребывают в активном поиске направлений отдыха, отелей и курортных баз для проведения новогодних выходных.</p>
            <figure>
                <blockquote class="blockquote">
                    <p class="mb-0">Кто-то отправляется в привычные места, но многие задаются вопросом смены постоянной локации и&nbsp;подбора новой. В этом Вам поможет <strong>Snow-Adventure.ru&nbsp;</strong></p>
                </blockquote>
            </figure>
            <h2 class="section-heading">Самые популярные места</h2>
            <p>&nbsp;- Эльбрус<br>&nbsp;- Архыз<br>&nbsp;- Домбай<br>&nbsp;- Красная Поляна<br>&nbsp;- Роза Хутор<br>&nbsp;- Шерегеш</p><a href="#"><img class="img-fluid" src="/img/index2.jpg"></a><span class="text-muted caption">Открытие сезона на Красной Поляне</span>
            <p>Выбирать горнолыжный курорт нужно исходя из высоты гор, желаемой инфраструктуры. На каждом из них есть инструкторские службы, которые будут полезны на любом уровне подготовки.</p>
            <p>Специалисты поставят новичков на лыжи или борд с нуля, а более опытным любителям помогут прокачать свои навыки. Красная Поляна лидирует по количеству трасс и дополнительным развлечениям. Здесь вы найдете рестораны, бары, дискотеки на любой вкус. Эльбрус привлекает посетителей панорамными видами и рекордными высотами. Архыз и Шерегеш отличаются более скромными условиями, но не менее захватывающими видами.&nbsp</p>
            <p>Уютно, интересно и ярко провести время вы сможете на любом из курортов вместе с Snow-Adventure.ru</p>
        </div>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="nav-item"><a class="nav-link" href="https://t.me/SnowAdventureBot"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-telegram fa-stack-1x fa-inverse"></i></span></a><li>
                    </ul>
                    <p class="text-muted copyright">Snow-Adventure ©&nbsp;Brand 2023</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/Bootstrap-DataTables-main.js"></script>
    <script src="/js/clean-blog.js"></script>
</body>

</html>