<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<center><b>AdminPanel</b></center>
<p>Панель администратора для добавления данных в базу данных</p>

<form th:method="GET" th:action="@{/regions}">
  <input type="submit" value="Раздел 'Регион'"/>
</form>
<br>
<form th:method="GET" th:action="@{/resorts}">
  <input type="submit" value="Раздел 'Горнолыжный курорт'"/>
</form>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>